<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="login.css" rel="stylesheet">
</head>
<body>

       <form class="product-form" method="POST" onsubmit="ForgotPassword(event)">
            <div class="form-control">
            <label for="email">Email</label>
            <input id="Email" type="text" name="email" required/>
          </div>
            <button class="btn" type="submit">submit</button>
        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
        <script src="ForgotPassword.js"></script>
 </body>
 </html>