<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="login.css" rel="stylesheet">
</head>
<body>

       <form class="product-form" method="POST" onsubmit="loginData(event)">
            <div class="form-control">
            <label for="email">Email</label>
            <input id="email" type="text" name="email" required/>
          </div>
          <div class="form-control">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" required/>
          </div>
            <button class="btn" type="submit">Login Here</button>
        </form>
       <button  onclick="forgotpassword()" class="btn1" type="submit">Forgot password</button>
        <p>New user Sign Up first</p>
        <p><a href="index.html">Sign Up</a></p>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
        <script src="login.js"></script>  
</body>
</html>